body,html{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
body{

    height:100;
}

.header{
    margin-top: 0;
    position: absolute;
    width: 100%;
    height: 57px;
    background: #274059;
    left: 0%;
    right: -0.02%;
    top: 0%;
    bottom: -0.09%;

}

.header_title{
    position: absolute;
    height: 29px;
    left: 72px;
    top: calc(50% - 29px/2 + 0.27px);
    
    /* H6 / Roboto Medium */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    
    color: #FAFAFA;
}

.card-panel{
    height: auto;
    width: auto;
    padding: 0;
    align-items: center;
    border-radius: 5px;
}

.conteudo{
    padding-top: 16px;
}

.header-card{
    background-color: #274059;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius:  5px;
    border-top-right-radius:  5px;
}

.header-card-text{
    color: #FAFAFA;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.btn-primary{
    display:flex;
    justify-content: right;
    justify-items: right;
}

.btn{
    background-color: #274059;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.btn-div{
    display: flex;
    justify-content: end;
}

.page-footer{
    background-color: #274059;
    font-family: Roboto;
    font-style: normal;
    font-size: 24px;
    color: #FAFAFA;
}